<div
  class="head-component d-flex align-items-end"
  id="head"
  style="height: 100vh"
>
  <header
    class="d-flex flex-row justify-content-between p-3 px-4 position-fixed"
    [style]="divStyle"
  >
    <span
      style="font-size: 20px; color: white; height: 100%"
      class="d-flex align-items-end justify-content-evenly gap-2"
    >
      <img src="../../assets/img/CAR_SALE_ico.png" alt="" height="30vh" />
      <span>CarSale</span>
    </span>
    <span class="d-flex gap-2">
      <a routerLink="/login/true">
        <button
          mat-flat-button
          style="background-color: transparent; color: white"
        >
          Inscription
        </button>
      </a>
      <a routerLink="/login/false">
        <button mat-flat-button style="background-color: var(--secondary)">
          Connexion
        </button>
      </a>
    </span>
  </header>
  <span style="font-size: 40px; color: white" class="m-5">
    Acheter votre voiture de rêve. <br />
  </span>
</div>
