<div
  class="head-component d-flex align-items-end"
  id="head"
  style="height: 100vh"
>
  <header
    class="d-flex flex-row justify-content-between p-3 px-4 position-fixed align-items-center"
    [style]="divStyle"
  >
    <span
      style="font-size: 20px; color: white; height: 100%"
      class="d-flex align-items-end justify-content-evenly gap-2"
    >
      <img src="../../assets/img/CAR_SALE_ico.png" alt="" height="30vh" />
      <span>CarSale</span>
    </span>
    <span class="d-flex gap-2" *ngIf="!isConnected">
      <a routerLink="/login/true">
        <button
          mat-flat-button
          style="background-color: transparent; color: white"
        >
          Inscription
        </button>
      </a>
      <a routerLink="/login/false">
        <button mat-flat-button style="background-color: var(--secondary)">
          Connexion
        </button>
      </a>
    </span>
    <span
      class="d-flex flex-row gap-2 justify-content-evenly"
      *ngIf="isConnected"
    >
      <button
        [matMenuTriggerFor]="message"
        style="background-color: transparent; border: none; color: white"
      >
        <i class="fa-solid fa-message"></i>
      </button>
      <mat-menu #message="matMenu" style="max-width: 300px !important" class="">
        <header
          class="p-2 px-3 d-flex flex-row justify-content-between align-items-center"
        >
          <span>Mes message</span>
          <span
            class="col-4 text-center"
            style="
              background-color: rgb(0, 94, 255);
              border-radius: 12px;
              padding: 2% 4%;
              color: white;
            "
            >{{ newMessage }} new</span
          >
        </header>
        <button
          style="width: 300px"
          class="p-2 px-3"
          (click)="showMessage.emit({ send: 'message' })"
          mat-menu-item
          *ngFor="let contact of contacts"
        >
          <div
            class="d-flex flex-row justify-content-between align-items-center"
            style="width: 240px"
          >
            <div
              class="d-flex flex-column justify-content-evenly align-items-start"
            >
              <span class="messageName"><b> {{ contact.personne.nom + " " + contact.personne.prenom }} </b></span>
              <span class="lastMessage"> {{ contact.lastMessage }} </span>
            </div>
            <span style="color: rgb(0, 94, 255)" *ngIf="contact.etat == 0">New</span>
          </div>
        </button>
      </mat-menu>
      <button
        [matMenuTriggerFor]="menu"
        style="background-color: transparent; border: none; color: white"
      >
        <i class="fa-solid fa-caret-down"></i>
      </button>
      <mat-menu #menu="matMenu">
        <header mat-menu-item>Mon profil</header>
        <button style="width: 300px" mat-menu-item (click)="logout()">
          Deconnexion
        </button>
      </mat-menu>
    </span>
  </header>
  <div
    class="card p-3 position-fixed col-9"
    *ngIf="this.error.statut"
    style="
      background-color: rgb(255, 21, 0) !important;
      top: 1%;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
    "
  >
    <span style="font-size: 15px; color: white"
      ><i class="fa fas fa-exclamation-circle"></i>
      {{ this.error.message }}</span
    >
  </div>
  <span style="font-size: 40px; color: white" class="m-5">
    Acheter votre voiture de rêve. <br />
  </span>
  <img src="../../assets/img/bg.jpeg" alt="" class="img" width="100%" />
</div>
