<div
  class="d-flex flex-row justify-content-evenly align-items-center"
  style="height: 100vh"
>
  <div class="card col-5 p-2 d-flex flex-column gap-2">
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder="Utilisateur"
    />
    <input
      type="password"
      name=""
      id=""
      class="form-control"
      placeholder="Mot de passe"
    />
    <button mat-flat-button style="background-color: var(--secondary)">
      Connexion
    </button>
    <span>Pas de compte? <a router>Inscrivez-vous</a></span>
  </div>
</div>
