<div class="d-flex flex-row gap-2">
  <div
    class="filtre d-flex flex-column gap-2 justify-content-start col-2 position-relative"
    style="height: 100vh; overflow-y: auto; overflow-x: hidden"
  >
    <span
      class="logo d-flex flex-row justify-content-evenly"
      style="height: 13%; z-index: 1"
    >
      <img src="../../assets/img/CAR_SALE.png" alt="logo" height="100%" />
    </span>
    <div class="datafiltre d-flex flex-column gap-2 p-2" style="z-index: 1">
      <mat-form-field class="filtreinput">
        <mat-label>Categorie</mat-label>
        <mat-select>
          <mat-option>Tous</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="position-absolute col-12"
      style="height: 100vh; backdrop-filter: blur(10px); z-index: 0"
    ></div>
  </div>
  <div class="col" style="height: 100vh; overflow: auto">
    <app-annonce></app-annonce>
  </div>
</div>
