<div
  class="card message position-fixed col-lg-3 col-9"
  style="bottom: 2%; right: 2%; z-index: 100"
  cdkDragBoundary="app-root"
  cdkDrag
>
  <header
    class="p-3 d-flex flex-row justify-content-between align-items-center"
  >
    <svg
      width="24px"
      fill="currentColor"
      viewBox="0 0 24 24"
      cdkDragHandle
      style="cursor: move"
    >
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
      ></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
    <span>{{ data.nom + " " + data.prenom }}</span>
    <i
      class="fa fa-xmark"
      style="cursor: pointer"
      (click)="closeMessage.emit()"
    ></i>
  </header>
  <section
    #message
    style="height: 300px"
    class="message-zone d-flex flex-column gap-2 p-2 align-items-center"
    id="message-zone"
  >
    <div
      class="spinner-border col-1"
      role="status"
      *ngIf="isCharge && messages.length - currentMessage.length > 1"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    <button
      class="btn p-1"
      style="border-radius: 12px; border: 1px solid gray; color: gray"
      (click)="showReste()"
      *ngIf="messages.length - currentMessage.length > 1"
    >
      Afficher plus
    </button>
    <span class="col-12" *ngFor="let message of currentMessage">
      <span
        [style]="message.sender.idPersonne == me ? styleMe : styleOther"
        class="p-2"
      >
        {{ message.content }}
      </span>
    </span>
  </section>
  <form
    class="p-2 d-flex flex-row justify-content-evenly align-items-center"
    style="color: black"
    (submit)="sendMessage()"
  >
    <span class="col-9">
      <input
        type="text"
        name="message"
        id="message"
        placeholder="Message"
        class="form-control"
        [(ngModel)]="newMessage"
        autocomplete="off"
      />
    </span>
    <button
      mat-icon-button
      class="d-flex flex-row align-items-center"
      type="submit"
    >
      <i class="fa fa-paper-plane" style="cursor: pointer; font-size: 20px"></i>
    </button>
  </form>
</div>
